{% extends 'stormtech.html.twig' %}

{% block body %}
    
    <section class="container main">
        <form method="POST">
            <div>
                <label>Título do livro</label>
                <input name="title" value="{{book.getTitle()}}" />
            </div>

            <div>
                <label>Autores</label>
                
                {% for author in authors %}
                    <label class="author">
                        
                        <input {{ author in selecteds ? 'checked' : '' }} 
                            type="checkbox" name="authors[]" value="{{ author.getId() }}" />
                        {{ author.getName() }}
                    </label>
                {% endfor %}
            </div>

            <div>
                <label>Ano de edição</label>
                <input name="edition_year" value="{{book.getEditionYear()}}" />
            </div>

            <div>
                <button type="submit">
                    {% if book.getId() %}
                        Editar
                    {% else %}
                        Adicionar
                    {% endif %}
                </button>
            </div>

            <input type="hidden" name="id" value="{{book.getId()}}"
        </form>
    </section>

{% endblock %}
