{% extends 'stormtech.html.twig' %}

{% block body %}

    <section class="container main books">
        <header>
            <h3 class="title">Livros</h3>
        </header>

        <hr />

        <a class="btn btn-default btn-xs" href="{{ path('books_add') }}">Novo livro</a>

        <form class="filter-books">
            <span class="title">Filtrar por:</span>

            <label>
                <input {{ 'title' in fields ? 'checked' : '' }} type="checkbox" name="orderby[]" value="title" /> Título
            </label>

            <select name="order[title]">
                <option>ASC</option>
                <option {{ orders and orders.title == 'DESC' ? 'selected' }}>DESC</option>
            </select>
                
            <span class="space">&</span>
                
            <label>
                <input {{ 'author' in fields ? 'checked' : '' }} type="checkbox" name="orderby[]" value="author" /> Autor
            </label>
                    
            <select name="order[author]">
                <option>ASC</option>
                <option {{ orders and orders.author == 'DESC' ? 'selected' }}>DESC</option>
            </select>
            
            <span class="space">&</span>
            
            <label>
                <input {{ 'editionYear' in fields ? 'checked' : '' }} type="checkbox" name="orderby[]" value="editionYear" /> Ano edição
            </label>
                    
            <select name="order[editionYear]">
                <option>ASC</option>
                <option {{ orders and orders.editionYear == 'DESC' ? 'selected' }}>DESC</option>
            </select>
            
            <input type="hidden" name="books-filter" value="on" />
            
            <button class="btn btn-primary btn-sm" type="submit">Aplicar</button>
            <a class="btn btn-default btn-sm" href="{{ path('books_list') }}">Limpar</a>
        </form>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Autores</th>
                    <th>Ano de edição</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.getId() }}</td>
                        <td>{{ book.getTitle() }}</td>
                        <td>
                            {% for i, author in book.getAuthors() %}
                                {{ author.getName() }} 
                                {{ book.getAuthors()[i+1] is defined ? '&' : '' }}
                            {% endfor %}
                        </td>
                        <td>{{ book.getEditionYear() }}</td>
                        <td>
                            <a href="{{ path('books_edit', {'id': book.getId()}) }}">Editar</a> | 
                            <a class="delete" href="{{ path('books_delete', {'id': book.getId()}) }}">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <script src="{{ asset('assets/js/books.js') }}"></script>
{% endblock %}


