{% extends 'stormtech.html.twig' %}

{% block body %}

    <section class="container main">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Autores</th>
                    <th>Ano de edição</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.getId() }}</td>
                        <td>{{ book.getTitle() }}</td>
                        <td>
                            {% for i, author in book.getAuthors() %}
                                {{ author.getName() }} 
                                {{ book.getAuthors()[i+1] is defined ? '&' : '' }}
                            {% endfor %}
                        </td>
                        <td>{{ book.getEditionYear() }}</td>
                        <td>
                            <a href="{{ path('books_edit', {'id': book.getId()}) }}">Editar</a> | 
                            <a href="{{ path('books_delete', {'id': book.getId()}) }}">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}

